<form>
    <div class="agregar">
        <div class="agregar_contenedor">
            <select class="agregar_tipo" (change)="tipoOperacion($event)">
                <option value="tipoIngreso" selected>+</option>
                <option value="tipoEgreso">-</option>
            </select>
            <input 
                type="text" 
                class="agregar_descripcion" 
                placeholder="Agregar Descripción"
                name="inputDescripcion"
                [(ngModel)]="inputDescripcion">
            <input 
                type="number" 
                class="agregar_valor" 
                placeholder="Valor"
                name="inputValor"
                [(ngModel)]="inputValor">
            <button type="submit" class="agregar_btn" (click)="agregarRegistro()">
                <i class="ion-ios-checkmark-outline"></i>
            </button>
        </div>
    </div>
</form>